
html {
    font-size: 10px;
}

a,
input[type="submit"] {
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1.5;
}

li {
    font-size: 1.5rem;
    line-height: 2;
}

p {
    font-weight: 900;
    line-height: 1.8;
    padding: 10px 50px;
    font-size: 1.6rem;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
}