.start {
    background-color: white;
    height: 40px;
    width: 100px;
    // text-align: center;
    margin: 60px 10px 0px 10px;
    border-radius: 5px;
    // box-shadow: 0 0 8px 8px grey;
    box-shadow: 0 0 20px rgb(254, 252, 201),
    10px -10px 30px rgb(254, 236, 133),
    -20px -20px 40px rgb(255, 174, 52),
    20px -40px 50px rgb(236, 118, 12),
    -20px -60px 60px rgb(205, 70, 6),
    0 -80px 70px rgb(151, 55, 22),
    10px -90px 80px rgb(69, 27, 14);
    border: 1px solid #a46711;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        color: #a46711;
        font-size: 2rem;
        letter-spacing: 0.5px;
        font-weight: bold;
        text-transform: uppercase;
        
    }
}

.next {
    display: inline-block;
    // align-items: center;
    // justify-content: center;
    background-color: white;
    height: 40px;
    width: auto;
    text-align: center;
    margin: 10px;
    padding-top: 8px;
    border-radius: 5px;
    box-shadow: 0 0 3px 3px rgb(119, 118, 118);
    a {
        color: #a46711;
    }
}


input[type="submit"] {
    box-shadow: 0 0 3px 3px rgb(119, 118, 118);
    border-radius: 5px;
    height: 40px;
    width: auto;
    padding: 10px;
    border: none;
    color: #a46711;
}