article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 10px; }

a,
input[type="submit"] {
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1.5; }

li {
  font-size: 1.5rem;
  line-height: 2; }

p {
  font-weight: 900;
  line-height: 1.8;
  padding: 10px 50px;
  font-size: 1.6rem; }

h1 {
  font-size: 3.6rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 2rem; }

.start {
  background-color: white;
  height: 20px;
  width: 100px;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 8px 8px grey;
  box-shadow: 0 0 8px 8px grey; }

.result .next {
  background-color: white;
  height: 20px;
  width: 50px;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px 3px #777676;
  box-shadow: 0 0 3px 3px #777676; }

.result .last {
  width: 250px; }

input[type="submit"] {
  -webkit-box-shadow: 0 0 3px 3px #777676;
  box-shadow: 0 0 3px 3px #777676;
  border-radius: 5px; }

/* MEDIA QUERIES */
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  h1 {
    font-size: 3rem; } }

/* Landscape phone to portrait tablet */
/* Portrait phones and down */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Oxygen Mono', monospace; }

img {
  max-width: 100%;
  border-radius: 50%;
  border: 4px solid black; }

a {
  text-decoration: none;
  color: black; }

li {
  list-style: none;
  padding: 15px; }

form h3 {
  text-align: center;
  padding-bottom: 10px; }

.container {
  background: url("../assets/apocalypse-2459465_1920.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%; }

.wrapper {
  margin: 0 auto;
  max-width: 1180px;
  max-width: 90%; }

.overlay {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(247, 178, 84, 0.8)), color-stop(25%, rgba(147, 132, 148, 0.8)), color-stop(50%, rgba(147, 161, 145, 0.8)), to(rgba(179, 177, 176, 0.8)));
  background: -webkit-linear-gradient(top, rgba(247, 178, 84, 0.8) 0%, rgba(147, 132, 148, 0.8) 25%, rgba(147, 161, 145, 0.8) 50%, rgba(179, 177, 176, 0.8) 100%);
  background: -o-linear-gradient(top, rgba(247, 178, 84, 0.8) 0%, rgba(147, 132, 148, 0.8) 25%, rgba(147, 161, 145, 0.8) 50%, rgba(179, 177, 176, 0.8) 100%);
  background: linear-gradient(top, rgba(247, 178, 84, 0.8) 0%, rgba(147, 132, 148, 0.8) 25%, rgba(147, 161, 145, 0.8) 50%, rgba(179, 177, 176, 0.8) 100%); }

header,
footer {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

section {
  height: 100vh;
  position: relative; }

.headerText,
.results {
  padding: 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.6)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
  text-align: center;
  border-radius: 15px; }

.stage h2 {
  padding: 100px 15% 50px;
  text-align: center; }

input[type="radio"] {
  visibility: hidden;
  position: absolute; }

input[type="radio"] + img {
  cursor: pointer; }

input[type="radio"]:hover + img:hover {
  border: 5px solid white;
  cursor: pointer; }

input[type="radio"]:checked + img {
  border: 5px solid orange; }

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .radio label {
    margin: 20px;
    max-width: 30%; }
  .radio input {
    margin: 20px; }

.choiceMade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .choiceMade input {
    padding: 1px; }

.result {
  display: none;
  height: 75vh;
  max-width: 75%;
  margin: 0 auto;
  background-color: #3e3e41;
  position: absolute;
  top: 12%;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px 3px grey;
  box-shadow: 0 0 10px 3px grey;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .result h3 {
    padding-bottom: 20px; }
  .result ul li {
    line-height: 1.5; }

footer {
  height: 100vh; }
