@import "partials/setup";
@import "partials/typography";
@import "components/buttons";
@import "components/mediaqueries";

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Oxygen Mono', monospace;
}

img {
    max-width: 100%;
    border-radius: 50%;
    border: 4px solid black;
}

a {
    text-decoration: none;
    color: black;

}

li {
    list-style: none;
    padding: 15px;
}

form h3 {
    text-align: center;
    padding-bottom: 10px;
    
}
.container {
    background: url("../assets/apocalypse-2459465_1920.jpg") no-repeat center center fixed;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-size: 100% top;
    background-size: cover;
    height: 100%;
    // overflow: hidden;
}
.wrapper {
    margin: 0 auto;
    max-width: 1180px;
    max-width: 90%;
}

.overlay {
    background: linear-gradient(top, rgba(247, 178, 84, 0.8) 0%, rgba(147, 132, 148, 0.8)25%, rgba(147, 161, 145, 0.8)50%, rgba(179, 177, 176, 0.8)100%);
}

header,
footer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    height: 100vh;
    position: relative;
}


.headerText,
.results {
    padding: 30px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
    text-align: center;
    border-radius: 15px;
    
}

.stage h2 {
    padding: 100px 15% 50px;
    text-align: center;
}

input[type="radio"] {
    visibility: hidden;
    position: absolute;
}  

input[type="radio"] + img {
    cursor: pointer;
    
}


input[type="radio"]:hover + img:hover {
    border: 5px solid white;
    cursor: pointer;
}

input[type="radio"]:checked +img{
    border: 5px solid orange;
}


.radio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    label {
        margin: 20px;
        max-width: 30%;
    }
    input {
        margin: 20px;
    }
}

.choiceMade {
    display: flex;
    justify-content: center;
    input {
        padding: 1px;
    }
}

.result {
    display: none;
    height: 75vh;
    max-width: 75%;
    margin: 0 auto;
    background-color: rgb(62, 62, 65);
    position: absolute;
    top: 12%;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 15px;
    box-shadow: 0 0 10px 3px grey;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
        padding-bottom: 20px;
    }
    ul li {
        line-height: 1.5;
    }
}

footer {
    height: 100vh;
    // background-color: #e7e393;
}


// .results {
    
// }